<!--
  Falegnameria-Voltan

  Created by Matteo Brogin.
  Copyright © 2019 Matteo Brogin. All rights reserved.
-->

<div class="container">
  <div class="card">

    <div class="front side">
      <h1 class="logo">Matteo Brogin</h1>
    </div>

    <div class="back side">
      <h3 class="name">Matteo Brogin</h3>
      <div>Full Stack Developer</div>
      <div class="info">
        <p><span class="property">Email: </span>mattesackboy@gmail.com</p>
        <p><span class="property">Instagram: </span><a href="//instagram.com/mattesackboy/" target="_blank">@mattesackboy</a></p>
        <p><span class="property">Website: </span><a href="//matteobrogin.com" target="_blank">matteobrogin.com</a></p>
      </div>
    </div>

  </div>
</div>