$font-family: "Montserrat";

.card {
  max-width: 400px;
  margin: 2vw;
  font-family: $font-family;
}

/*.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }*/

img {
  max-width: 432px;
  max-height: 324px;
}

.mat-button {
  font-family: $font-family;
  font-weight: 600;
}
