//
//  Falegnameria-Voltan
//
//  Created by Matteo Brogin.
//  Copyright © 2019 Matteo Brogin. All rights reserved.
//

$font-family: "Montserrat";

.card {
  max-width: 400px;
  margin: 2vw;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  height: 510px;
}

/*.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }*/

div.image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 325px;
}

.mat-button {
  font-family: $font-family;
  font-weight: 600;
}

.mat-card-actions {
  margin-top: auto;
}

@media (max-width: 405px) {
  .card {
    height: 545px;
  }
}