//
//  Falegnameria-Voltan
//
//  Created by Matteo Brogin.
//  No rights are reserved
//

$font-family: "Montserrat";
$copyright-hover-color: #2581dc;

body {
  font-family: $font-family;
}

#content {
  margin-top: 70px;
}