//
//  Falegnameria-Voltan
//
//  Created by Matteo Brogin.
//  No rights are reserved
//

header {
  margin: auto;
  max-width: calc(12vw + 1296px);
  text-align: center;
  padding: 25px;

  h2 {
    font-weight: 500;
    font-size: 2em;
  }

  p {
    font-size: 1.22em;
    line-height: 1.35em;
    //text-align: justify;
  }
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ff8162;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: calc(12vw + 1296px);
  margin: 0 auto;
  justify-content: center;
}

div.brand-img {
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 510px;
  height: 400px;
}

@media (max-width: 510px) {
  div.brand-img {
    width: 310px;
    height: 243px;
  }
}