<!--
  Falegnameria-Voltan

  Created by Matteo Brogin.
  No rights are reserved
-->

<app-image-header [headerInfo]="headerInfo"></app-image-header>
<header>
    <h2>Chi siamo</h2>
    <mat-divider></mat-divider>
    <p class="headerDescription">La falegnameria Voltan Aldo nasce all'interno delle mura di Padova dall'esperienza tramandata dal padre Voltan
        Edoardo fin dal 1957.<br>
        Attualmente può contare su un parco clienti dal pubblico al privato, perchè pur mantenendo fede al lavoro
        artigianale di un tempo, si è negli anni evoluta con nuova sede e macchinari innovativi.<br>
        Ci avvaliamo inoltre di collaborazione con aziende quali Door 2000, GD Dorigo, Ghizzi e Benatti, Gibus,
        L'Invisibile, Mister Shut e Schuco per realizzazione e posa in opera di infissi, finestre, blindati e zanzariere.</p>
</header>
<header>
    <h2>I Nostri Prodotti</h2>
    <mat-divider></mat-divider>
</header>
<app-cards></app-cards>
<header>
    <h2>Dove siamo</h2>
    <mat-divider></mat-divider>
    <div id="info">
        <p><strong>FALEGNAMERIA:</strong><br>
            Via Luigi Pierobon, 103<br>
            35010 Limena (PD)<br>
            Tel: <a href="tel:049-8840040">049-8840040</a><br>
            Fax: 049-8846840<br>
            mail: <a href="mailto:info@falegnameriavoltan.it">info@falegnameriavoltan.it</a><br>
            P.Iva 02214750289</p>
        <p><strong>ORARI DI APERTURA:</strong><br>
            LUN-VEN:<br>
            dalle 08:00 alle 12:00<br>
            e dalle 14:00 alle 18:00<br>
            SABATO e DOMENICA:<br>
            CHIUSO</p>
    </div>
</header>
<section>
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11194.18026394423!2d11.8593676!3d45.4588229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x36190ae82e003fcb!2sVoltan+Aldo+Falegnameria!5e0!3m2!1sit!2sit!4v1548073767183"></iframe>
</section>