header {
  margin: auto;
  max-width: calc(12vw + 1296px);
  text-align: center;
  padding: 25px;

  h2 {
    font-weight: 500;
    font-size: 2em;
  }

  p {
    font-size: 1.22em;
    line-height: 1.35em;
    //text-align: justify;
  }

  .headerDescription {
    font-size: 1.1em;
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

section {
  height: 30rem;
}

@media (max-width: 992px) {
  section {
    height: 22rem;
  }
}

#info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: calc(12vw + 1296px);
  margin: 0 auto;
  justify-content: center;

  p {
    margin: 2vw;
  }

  /*strong {
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 7px;
  }*/
}

a,
a:visited {
  text-decoration: none;
  color: black;
  transition: all 0.25s ease;
}

a:hover {
  color: #ff8162;
}

@media (min-width: 520px) {
  header {
    .headerDescription {
      font-size: 1.22em;
    }
  }
}